
body {
  margin: 0;
  font-family:  inter;
  background-color: #1C1C1C;
  color: #fff;
  
}
img {
  max-width: 100%;
}


  


.frame {
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: rgb(240, 240, 246);
}

/* Left frame */

.left_frame {
position: absolute;
width: 305px;
height: 1315px;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: white;
display: flex;
flex-direction: column;
}
.left_block-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  width: 228px;
  height: 253px;
  margin-top: 47px;
  margin-right: 30px;
  margin-left: 47px;
  background-color: white;
}

.left_profle-img {
  width: 156.16px;
  height: 135.05px;
}

.left_block-1 strong {
  margin-top: 27px;
  width: 64px;
  height: 20.85px;
  color: rgb(43, 43, 43);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.left_block-1 span {
  
  margin-top: 7px;
  width: 147.84px;
  color: rgb(118, 118, 118);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.block-1_icns {
  width: 100%;
  height: auto;
  margin-top: 17px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(255, 180, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.margin_line {
  position: absolute;
  border: 1.5px solid rgb(240, 240, 246);
  margin-top: 54px;
  margin-bottom: 24px;
  margin-left: 47px;
  width: 220px;
  height: 0;

}
/* Block-2 */
.margin_line-2 {
 
  position: absolute;
  border: 1.5px solid rgb(240, 240, 246);
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 47px;
  width: 220px;
  height: 0;

}

.left_block-2 {
  margin-top: 78px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-2_info {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 9px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-2_info strong {
  margin-left: 47px;
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  background: rgb(255, 180, 0);
}
.left-2_info span {
  margin-right: 37px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgb(43, 43, 43);
}
/* Block-3 */

.lang {
  
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}
.lang .str {
  margin-left: 48px;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
 .str strong {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 123.6%;
  text-transform: capitalize;
  color: rgb(43, 43, 43);
}

.lang .languages {
 
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.languages .language_box {
  margin-left: 48px;
  margin-right: 40px;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}

 .language_box .language_name {
  position: relative;
  width: 220px;
  height: auto;
  margin-bottom: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

 .language_box strong {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgb(118, 118, 118);
}

 .language_level{
  position: relative;
  width: 220px;
  height: 5px;
  border: 0.5px solid rgb(255, 180, 0);
  border-radius: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.language_level div {
  position: relative;
  width: 217px;
  height: 2px;
  border-radius: 30px;
  background: rgb(255, 180, 0);
}

/* Block-4 */
.lang .prog_languages {
 
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.prog_languages .prog_language_box {
  margin-left: 48px;
  margin-right: 40px;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}


.prog_language_box .language_name {
  position: relative;
  width: 220px;
  height: auto;
  margin-bottom: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

 .prog_language_box strong {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgb(118, 118, 118);
}
/* Block-5 */
.left_block-5 {
  
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}
.left_block-5 .str {
  margin-left: 48px;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.extraboxes {
  margin-left: 48px;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
}

.extrabox {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.extrabox span {
  margin-left: 15px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgb(118, 118, 118);
}

.midd_frame {
 
  position: absolute;
  width: 971px;
  height: 454.33px;
  left: 339px;
  right: -339px;
  top: 3px;
  bottom: 5.76px;
  background-color: rgb(240, 240, 246);
}



.midd_top {
  position: relative;
  /* width: 100%;
  height: auto; */

  display: flex;
  flex-direction: row;
  background: rgb(255, 255, 255);
}
.shapes {
}
.shape1 {
  
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  left: 375.05px;
  top: 40.86px;
  }
.shape2 {
 
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  left: 100.1px;
  top: 422.22px;
}
.shape3 {
   
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  left: 893.45px;
  top: 381.33px;
}
.shape4 {

  position: absolute;
  width: 16.02px;
  height: 15.57px;
  left: 855.55px;
  top: 62.26px;
  transform: rotate(25.41deg);
  box-sizing: border-box;
  border: 2px solid rgba(255, 46, 0, 0.8);
}
.shape5 {
 
  position: absolute;
  width: 15.93px;
  height: 15.65px;
  left: 350.43px;
  top: 333.69px;
  transform: rotate(25.41deg);
  box-sizing: border-box;
  border: 2px solid rgba(0, 71, 255, 0.8);
 
}
.shape6 {
    /* Ellipse 13 */
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  left: 500.45px;
  top: 381.33px;
  
}
.shape7 {
  /* Ellipse 15 */
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  left: 80.05px;
  top: 50.86px;
}

.midd_top-txt {
  position: relative;
  width: 499px;
  height: auto;
  margin-top: 99px;
  margin-left: 56px;
  margin-bottom: 61px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.midd_top-txt strong {
  margin-bottom: 17px;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;
  color: rgb(43, 43, 43);
}

.midd_top-txt span {
  margin-bottom: 22px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgb(118, 118, 118);
}

.midd_top-txt a {
  position: relative;
  width: 154px;
  height: 51px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background: rgb(255, 180, 0);
}

.midd_top-txt .midd_top-btn {
  height: 4px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
  color: rgb(43, 43, 43);
}

.midd_top-txt img {
  position: absolute;
  margin-top: 16px;
  margin-right: 61px;
  margin-bottom: 8px;
}

.my_ser {
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my_services-title {
  color: rgb(43, 43, 43);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  
  text-transform: capitalize;

}
.my_sevices-descr {
  margin-bottom: 35px;
  width: 438px;
  height: 68px;
  
  color: rgb(118, 118, 118);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.my_services-wrapp {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrap_boxes {
  position: relative;
  width: 310px;
  height: 225px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.wrap_boxes img {
  margin-bottom: 33px;
}
.wrap_boxes strong {
  margin-bottom: 15px;
}
.wrapp_box-6_title {
  
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
  color: rgb(43, 43, 43);
}
.wrapp_box-6_descr {
  
  margin-bottom: 30px;
  width: 260px;
  height: 78px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgb(118, 118, 118);
}
.wrap_boxes a {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: rgb(255, 180, 0);
}

/* Right frame */
.right_frame {
  position: absolute;
  width: 108px;
  height: 1315px;
  left: 1332px;
  right: -1332px;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.right_frame a {
  width: 30px;
  height: 30px;
  margin-top: 50px;
}

.right_frame .right_icn {
  margin-top: 174px;
  display: flex;
  flex-direction: column;
}

.right_icn a {
  margin-top: 54px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(240, 240, 246);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.right_icn .home_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(255, 180, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



